<div id="about" class="about-section">
    <div class="container text-center">
        <h2 class="section-title">Why Use AppKit Landing?</h2>
        <p class="intro">Appkit Landing uses modern front-end technologies and is packed with useful components and widgets to speed up your development</p>
        <ul class="technologies list-inline">
            <li class="list-inline-item"><img src="assets/images/logo-html5.svg" alt="HTML5"></li>
            <li class="list-inline-item"><img src="assets/images/logo-css3.svg" alt="CSS3"></li>
            <li class="list-inline-item"><img src="assets/images/logo-bootstrap.svg" alt="Bootstrap"></li>
            <li class="list-inline-item"><img src="assets/images/logo-sass.svg" alt="Sass"></li>
            <li class="list-inline-item"><img src="assets/images/logo-jquery.svg" alt="jQuery"></li>
        </ul>

        <div class="items-wrapper row">
            <div class="item col-md-4 col-12">
                <div class="item-inner">
                    <div class="figure-holder">
                        <img class="figure-image" src="assets/images/figure-1.png" alt="image">
                    </div><!--//figure-holder-->
                    <h3 class="item-title">Benefit Lorem Ipsum</h3>
                    <div class="item-desc mb-3">
                        List one of your product's benefits here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div><!--//item-desc-->
                    <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/appkit-landing-free-bootstrap-theme-for-developers-and-startups/" target="_blank">Find out more</a>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-12">
                <div class="item-inner">
                    <div class="figure-holder">
                        <img class="figure-image" src="assets/images/figure-2.png" alt="image">
                    </div><!--//figure-holder-->
                    <h3 class="item-title">Benefit Corporis</h3>
                    <div class="item-desc mb-3">
                        List one of your product's benefits here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </div><!--//item-desc-->
                    <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/appkit-landing-free-bootstrap-theme-for-developers-and-startups/" target="_blank">Find out more</a>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-12">
                <div class="item-inner">
                    <div class="figure-holder">
                        <img class="figure-image" src="assets/images/figure-3.png" alt="image">
                    </div><!--//figure-holder-->
                    <h3 class="item-title">Benefit Imperdiet</h3>
                    <div class="item-desc mb-3">
                        List one of your product's benefits here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </div><!--//item-desc-->
                   <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/appkit-landing-free-bootstrap-theme-for-developers-and-startups/" target="_blank">Find out more</a>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//items-wrapper-->
    </div><!--//container-->
</div>
